<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    Registration
    <form method="post" action="/auth_practice/registration/">
        {% csrf_token %}
        <label for="email">
            <input id="email" type="email" name="email" placeholder="email" />
        </label>
        <label for="username">
            <input id="username" type="text" name="username" placeholder="username" />
        </label>
        <label for="password">
            <input id="password" type="password" name="password" placeholder="password" />
        </label>

        <input type="submit" value="submit" />
    </form>
    {% if messages %}
    {% for message in messages %}
        <p  
            style="
                {% if message.tags == 'error' %}
                        background-color:  hsl(00, 60%, 50%);
                {% elif message.tags == 'success' %}
                        background-color:  hsl(110, 60%, 50%);
                {% endif %}
                    color: hsl(0,50%,98%);
                    width: 80%;
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                " >
            {{message}}
        </p>
    {% endfor %}
{% endif %}
    <a href="/auth_practice/login/">Login</a>
 
</body>
</html>